body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #011329;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding-left: 5%;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.3s ease;
}

a.active,
a:hover {
  background: #a75711;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Tablets */
@media (max-width: 952px) {
  label.logo {
    font-size: 26px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

/* Mobile & small devices */
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #011329;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding-top: 20px;
  }

  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: #a75711;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* Image Styling in About Section */
.col .about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.col .about-img img {
  max-width: 100%;
  height: 330px;
  object-fit: cover;
}
